head meta title link body {
	display: none;
}
body { 
	background-color: #fae1e7;
	color: #404042;
	font-family: Nunito;
}
#cabecera {
	display: block;
	font-weight: bold;
}
div {
	display: block;
	font-weight: bold;
}
.banner {
	background-image: url(https://unsplash.com/s/photos/knit);
	background-size: cover;
	background-position: center;
	padding: 150px 0;
	text-align: center;
	font-family: Allura;
	font-size: 40px;
	color: #e66e9c;
	text-shadow: none;
	text-decoration: none;
	padding: 10px 10px;
	margin: 15px;
}
h1 {
	font-family: Allura;
	font-weight: bold;
	font-size: 70px;
	margin: auto;
}
span {
	color: #404042;
	font-size: 30px;
}
.contenido {
	display: block;
	font-weight: bold;
}
h2{
	color: #404042;
	margin: 20px;
	font-size: 30px;
	text-align: center;
}
.cards {
	display: flex;
	justify-content: space-between;
}
.card-knit {
	background-color: #fafafa;
	width: 320px;
	height: 450px;
	margin: 50px;
	border-radius: 10px;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0 0 16px #e65a7a;
}
.image {
	width: 250px;
	height: 200px;
	margin: 20px 30px;
}
p {
	display: block;
	font-weight: bold;
	margin: 20px;
}
.button {
	background-color: #eb1365;
	color: white;
	font-family: verdana;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}
footer {
	display: block;
	background-color: pink;
	text-align: center;
}